:root {
  --background-color: #fff;
  --background-color-secondary: #f3f5f6;

  --clr-accent: #00b9ad;
  --clr-gray-dark: #4c5c65;
  --clr-gray-light: #9da6ab;

  --clr-magenta: #ec008c;
  --clr-white: #fff;
}
